/* default.css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrap{
    width: 100%;
    background-color: black;
    color: #eee;
    position: relative;
    /* height: 100vh; */
}

#header{
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh; /* vh - 브라우저의 높이 , vw -브라우저의 넓이  */
    background-color: #272725;
}

#nav{
    width: 100%;
    padding: 20px 7px;
}

.title{
    text-align: center;
}

.menuWrap{
    width: 100%;
    padding: 30px 0;
}

.menu{
    display: block;
    padding: 10px 0;
    cursor: pointer;
}

.menuWrap .menu:nth-child(1){
    text-align: center;
    background-color: black;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding: 3px;
}

.menuWrap .menu:first-child::before{
    content: ""; /* content를 쓸려면 아무내용도 없더라도 ""; 입력해줘야 한다. */
    background: linear-gradient(90deg, skyblue,green,white,rgb(230, 169, 169),
    white, green, skyblue);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menuWrap .menu:nth-child(1) span{
    z-index: 100;
    position: relative;
    background-color: black;
    display: block;
    height: 100%;
    padding: 10px 0;
    border-radius: 6px;
}

#main{
    margin-left: 200px;
    padding: 100px 80px;
    position: relative;
}

.stieDetail{
    width: 900px;
    position: relative;
    top: 0;
    left: 0;
}

.stieDetail h2{
    width: 50%;
    font-size: 30px;
}

.siteDetail h4{
    width: 50%;
    padding: 20px 0;
}

.siteDetail img{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
}

.siteUse{
    width: 900px;
    position: relative;
    top:0;
    left: 0;
}

.button{
    margin: 100px 0;
    padding-left: 50px;
}

.freeSign, .devTool{
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 20px;
}

.freeSign{
    background-color: green;
    border-radius: 5px;
}

.freeSign:hover{
    background-color: rgb(0, 94, 0);
}

.devTool{
    margin-left: 20px;
    background-color: blue;
    border-radius: 5px;
}

.devTool:hover{
    background-color: rgb(0, 0, 196);
}

.card{
    padding: 50px;
}

.build, .learn{
    display: inline-block;
    width: 350px;
    background-color: #272725;
    padding: 20px;
    border-radius: 10px;
}

.learn{
    margin-left: 50px;
}

.build img, .learn img{
    width: 100%;
    border-radius: 10px;
}

.build h3, .learn h3{
    font-size: 25px;
    padding-bottom: 15px;
}

#footer{
    margin-left: 200px;
    background-color: #1b1b19;
    padding: 50px 100px;
    line-height: 35px;
}